@model IEnumerable<OA.Model.UserInfo>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <div class="layui-btn-group" id="toolbar">
             @Html.ActionLink("增加", "Create", "UserInfo", new {@class="layui-btn" ,@id="addUserInfo" })
             @Html.ActionLink("删除", "Delete", "UserInfo", new {@class="layui-btn" ,@id="deleteUserInfo" })
            <button type="button" class="layui-btn" id="upload">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>

        <table id="userInfoTable" lay-filter="userInfo" class="layui-table">
            @foreach (var item in Model) { 
                <tr>
                    <td>@Html.DisplayFor(uName=>item.Name)</td>
                    <td>@Html.DisplayFor(uPassword=>item.Password)</td>
                    <td>@Html.DisplayFor(uDelflag=>item.DelFlag)</td>
                    <td>
                        <div class="layui-btn-group" id="toolbar-tr">
                            @Html.ActionLink("编辑", "Edit", "UserInfo",new {id=item.ID}, new {@class="layui-btn common-tr-btn-height" }) 
                            @Html.ActionLink("删除", "Delete", "UserInfo",new {id=item.ID}, new {@class="layui-btn common-tr-btn-height"  }) 
                            @Html.ActionLink("详情", "Details", "UserInfo", new { id = item.ID }, new {@class="layui-btn common-tr-btn-height" })
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    <script src="../Blue/JS/UserInfoManage.js"></script>
